
/*
----------------------------------------------------------
    (01) Sign In Page
----------------------------------------------------------
*/

/* -------------------------------------------------------------
    (13). Start user forms
-------------------------------------------------------------*/
.login_reg_box .login_from_res {
  padding-top: 40px;
}
.user-form .form-top h2 {
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 900;
  color: var(--title-color);
  text-transform: capitalize;
}
.user-form .form-top p {
  margin: 0;
  font-size: 14px;
  color: var(--text-primary-color-4) ;
  font-weight: 400;
}
.user-form .form-top.text-left {
  margin-bottom: 2rem;
}
.user-form .form-group {
  position: relative;
  margin-bottom: 10px;
}
.user-form .form-group label {
  color: var(--title-color);
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 5px;
}
.user-form .form-group .eye {
  position: absolute;
  right: 14px;
  top: 56px;
  transform: translateY(-50%);
  width: 18px;
  cursor: pointer;
}
.user-form .form-control {
	height: 55px;
	box-shadow: none;
	border-color: var(--border-color);
	border-radius: 11px;
	background: transparent;
	color: var(--text-primary-color-4);
	font-size: 0.9rem;
	font-weight: 400;
	padding: 10px 35px 10px 25px;
}
.login_bg_new {
  background: url(../login_bg.jpg) no-repeat top center / cover;
  min-height: 100vh;
}